@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

ul li {
  list-style: none;
}

router-link,
a {
  text-decoration: none;
}

.font-rubik {
  font-family: "Rubik", sans-serif;
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
